<div class="header">
  <h1>Results for <%= @state %> in <%= @year %></h1>
</div>

<div class="wrapper">
  <div class="legend">
    <ul class="legend-list">
      <p>All measurements are Thousand Mwh</p>
      <li>COW - Coal</li>
      <li>PEL - Petroleum Liquid</li>
      <li>PC - Petroleum Cake</li>
      <li>NG - Natural Gas</li>
      <li>OOG - Other Gases</li>
      <li>NUC - Nuclear</li>
      <li>HYC - Hydroelectric</li>
      <li>AOR - Other Renewables</li>
      <li>WND - Wind</li>
      <li>SUN - Solar</li>
      <li>GEO - Geothermal</li>
      <li>WWW - Wood/Wood Derivatives</li>
      <li>WAS - Other Biomass</li>
      <li>HPS - Hydroelectric Pump Storage</li>
      <li>OTH - Other Sources</li>
    </ul>
  </div>
  <div class="donut_holder">
    <div id='container'></div>
  </div>

</div>
