
<div class="header">
  <h2>Please make a selection to see more data.</h2>
</div>

<div class="form">
  <%= form_tag("/display", method: "get") do %>
    <%= select_tag :state, options_for_select(@us_states), class: 'dropdown' %>
    <%= select_tag :year, options_for_select(@years), class: 'dropdown' %>
    <%= submit_tag("Search", class: 'button') %>
  <% end %>
</div>

<div class="donut_holder">
  <div id='container'></div>
</div>



